body{
    background-color: white;
    padding-left: 125px;
    padding-top: 7px;
    padding-right: 125px;
    padding-bottom: 11px;

}

.header1{
    display: flex;
    align-items: center;
}

.p1c1{
    margin-left: 11px;
}

.p1c2{
    margin-left: 500px;
}

.a2{
    margin-left: 50px;
}

.a3{
    margin-left: 50px;
}

.a4{
    margin-left: 50px;
}

.a5{
    margin-left: 50px;
}

.p1{
    color: rgb(11, 11, 126);
}

.div1{
    font-size: xx-large;
}

.header2{
    display: flex;
    align-items: center;
    margin-top: 81px;
}

.png2{
    margin-left: 499px;
}

.png3{
    margin-left: 11px;
}

.png4{
    margin-left: 140px;
}

.png5{
    margin-left: 140px;
}

.png6{
    margin-left: 140px;
}

.header3{
    display: flex;
    align-items: center;
    margin-top: 81px;
}
.para1 {
    font-size: large;
}
.para2 {
    font-size: large;
}
.para3 {
    font-size: large;
}
.para4 {
    font-size: large;
}